@model MobileVoting.Web.Areas.Voter.Models.QuestionListModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Voter/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<ul data-role="listview">
    @if (Model.Questions.Count == 0)
    {
        if (Model.NoMoreVotes)
        {
        <li>You have completed all votes.</li>
        }
        else
        {
        <li>There are no open questions for voting at the moment.</li>
        }

    }
    else
    {
        foreach (var question in Model.Questions)
        {
        <li>@Html.ActionLink(question.Value, "New", "Vote", new { id = question.Key }, null)</li>
        }
    }
</ul>

@*<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>*@
