<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VotingDbContext" connectionString="Server=(LocalDB)\v11.0;Database=mobile_voting_db;Persist Security Info=True;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="VotingDbContext" connectionString="Data Source=tcp:dja9tl6z1p.database.windows.net,1433;Initial Catalog=wsmvdb;User Id=waheedsayed@dja9tl6z1p;Password=yHz77bdKytRQyRqwpWDf;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>